</div>
<!-- Modal -->
<div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <div class="loader"></div>
          <div clas="loader-txt">
            <p>Check out this slick bootstrap spinner modal. <br><br><small>We are addicted to Bootstrap... #love</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="modal fade" id="storeMultipleImages" tabindex="-1" role="dialog" aria-labelledby="storeMultipleImagesLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Store Multiple Images</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
            <form id="uploadForm"
                enctype="multipart/form-data"
                action="/stores/multi_image"
                method="post">
              <input type="file" name="storePhoto" multiple/>
              <br>
              <input type="text" readonly name="typeId" id="entityTypeId" value="" />
              <br>
              <input type="text" readonly name="type" id="entityType" value="" />
              <input type="submit" id="uploadImagesBtn" value="Upload Store Images" name="submit">
              <span id = "status"></span>
            </form>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="multipleImages" tabindex="-1" role="dialog" aria-labelledby="multipleImagesLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Product Multiple Images</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
            <form id="multiUploadForm"
                enctype="multipart/form-data"
                action="/stores/upload_multi_image"
                method="post">
              <input type="file" name="multiPhotos" multiple/>
              <br>
              <input type="text" readonly name="parentId" id="multiEntityParentId" value="" />
              <br>
              <input type="text" readonly name="typeId" id="multiEntityTypeId" value="" />
              <br>
              <input type="text" readonly name="type" id="multiEntityType" value="" />
              <input type="submit" id="uploadMultiImagesBtn" value="Upload Product Images" name="submit">
              <span id = "multi_image_status"></span>
            </form>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="storeSingleImage" tabindex="-1" role="dialog" aria-labelledby="storeSingleImageLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Icon</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
            <form id="uploadSingleForm"
                enctype="multipart/form-data"
                action="/stores/single_image"
                method="post">
              <input type="file" name="storeSinglePhoto"/>
              <br>
              <input type="text" readonly name="typeId" id="singleEntityTypeId" value="" />
              <br>
              <input type="text" readonly name="entityparentId" value="0" id="singleEntityparentId" value="" />
              <br>
              <input type="text" readonly name="type" id="singleEntityType" value="" />
              <input type="submit" id="uploadSingleImageBtn" value="Upload Store Icon" name="submit">
              <span id = "single_status"></span>
            </form>
        </div>
      </div>
    </div>
</div>


<div class="modal fade" style="overflow:scroll;" id="viewAllImages" tabindex="-1" role="dialog" aria-labelledby="viewAllImagesLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">View All Multiple Images</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
            <div id="store_all_images" class="row">Please wait</div>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" style="overflow:scroll;" id="manageStoreFloors" tabindex="-1" role="dialog" aria-labelledby="manageStoreFloorsLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Manage store floors</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
          <div id="store_floors_list" class="row">Please wait</div>
      </div>
    </div>
  </div>
</div>

</body>
<script type="text/javascript">
$(document).ready(function() {
  console.dir("OK");
    var url = configs.backend_server; //'http://localhost:3001/';
    console.dir(url);
    $("#category_id").on('change', function(){
        $("#loadMe").modal({
          backdrop: "static", //remove ability to close modal with click
          keyboard: false, //remove option to close with keyboard
          show: true //Display loader!
        });
        var categoryData = new Object();
        categoryData.categoryId = $(this).val();

        $.ajax({
          type: "GET",
          url: url+'stores/getSubcategoryByCategoryId',
          data: categoryData,
          success: function(data){
            var sub_category_options = '';
            if(data.data.length > 0) {
              for(var i =0; i<data.data.length; i++) {
                sub_category_options += '<option value='+data.data[i].sub_category_code+'>';
                sub_category_options += data.data[i].sub_category_name;
                sub_category_options += '</option>';
              }
              $("#sub_category").html(sub_category_options);
              $("#sub_category").attr("disabled", false);
            }
            setTimeout(function(){
              $("#loadMe").modal("hide");
            }, 500);
          },
          error: function(data){
          },
          dataType: 'json'
        });        
    });        
    $("#cluster_id").on('change', function(){
        $("#loadMe").modal({
          backdrop: "static", //remove ability to close modal with click
          keyboard: false, //remove option to close with keyboard
          show: true //Display loader!
        });

        var data = new Object();
        data.clusterId = $(this).val();
        $.ajax({
          type: "GET",
          url: url+'stores/getClusterFloor',
          data: data,
          success: function(data){
            var floor_options = '';
            for(var i =0; i<data.data.length; i++) {
              floor_options += '<option value='+data.data[i].floor_number+'>';
              floor_options += 'id => ' +data.data[i].id;
              floor_options += '#floor_number => ' +data.data[i].floor_number;
              floor_options += '#floor_alias => ' +data.data[i].floor_alias;
              floor_options += '</option>';              
            }
            setTimeout(function(){
              $("#loadMe").modal("hide");
            }, 500);
            $("#store_floor").html(floor_options);
            $("#store_floor").attr("disabled", false);
            $("#z_coordinates").attr("disabled", false);
            $("#y_coordinates").attr("disabled", false);
            $("#x_coordinates").attr("disabled", false);
          },
          error: function(data){
          },
          dataType: 'json'
        });
    });

    $("#cluster_id_offers_page").on('change', function(){
        $("#loadMe").modal({
          backdrop: "static", //remove ability to close modal with click
          keyboard: false, //remove option to close with keyboard
          show: true //Display loader!
        });
        $("#stores_container").html('');
    });

    $("#cluster_id_offers_page_new").on('change', function(){
        $("#loadMe").modal({
          backdrop: "static", //remove ability to close modal with click
          keyboard: false, //remove option to close with keyboard
          show: true //Display loader!
        });
        
        var data = new Object();
        data.clusterId = $(this).val();
        $.ajax({
          type: "GET",
          url: url+'offers/getClusterStores',
          data: data,
          success: function(data){
            console.dir(data);
            var floor_options = '';
            for(var i =0; i<data.data.length; i++) {
              floor_options += '<option value='+data.data[i].store_id+'>';
              floor_options += 'id => ' +data.data[i].store_id;
              floor_options += '# => ' +data.data[i].store_name;
              floor_options += '</option>';              
            }
            setTimeout(function(){
              $("#loadMe").modal("hide");
            }, 500);

            $("#stores_list").html(floor_options);
            $("#stores_list").attr("disabled", false);

          },
          error: function(data){
          },
          dataType: 'json'
        });
    });

  $("#add_more_stores").on('click', function() {

    $('body').append("<div id='temp_div'></div>");
    
    var new_row_index = $(".stores_list_row").last().data('row-index')+1;
    $("#temp_div").html($('.stores_list_row').html());    
    $("#temp_div").find(".store_floor_data").html('');

    var x1 = '<div class="stores_list_row col-lg-12" id="stores_index_'+new_row_index+'" style="padding:5px" data-row-index="'+new_row_index+'">';
        x1 += $("#temp_div").html();
        x1 += '</div>';

    $("#temp_div").remove();
    $("#offer_stores").append($(x1));
  });

/*

  $(".stores_list").bind("change", function() {
    console.dir("AAAAAAAA");
    var data = new Object();
    data.storeId = $(this).val();
    var element = $(this).parent().parent();
    $.ajax({
      type: "GET",
      url: url+'offers/getStoreFloors',
      data: data,
      success: function(r){
        console.dir(r);
        console.dir(element);

        var html = "<div class='col-md-12' style='padding:20px;'>";
        for(var i=0; i< r.data.length; i++) {
          html += "<div class='col-md-2' style='padding:10px;float:left;padding:5px;'>";
          html += "<input type ='checkbox' class='form-check-input' value="+r.data[i].id+"> Floor Number " + r.data[i].floor_number;
          html += "</div>";
        }
        html += "</div>";
        $(element).find($(".store_floor_data")).html(html);
      },
      error: function(data){
      },
      dataType: 'json'
    });    
  });

*/

    $(".edit_store_icon, .edit_product_icon").on("click", function(e) {
      e.preventDefault();
      $("#singleEntityTypeId").val($(this).data('id'));
      $("#singleEntityType").val($(this).data('type'));
      $("#singleEntityparentId").val($(this).data('parent-id'));
      
      $("#storeSingleImage").modal({
        backdrop: "static", //remove ability to close modal with click
        keyboard: false, //remove option to close with keyboard
        show: true //Display loader!
      });
    });

     $('#uploadSingleForm').submit(function() {
        $("#storeSingleImage").hide();
        $("#loadMe").modal({
          backdrop: "static", //remove ability to close modal with click
          keyboard: false, //remove option to close with keyboard
          show: true //Display loader!
        });

        $("#single_status").empty().text("File is uploading...");
        $("#uploadSingleImageBtn").attr("disabled", true);
        $(this).ajaxSubmit({

            error: function(xhr) {
                $("#loadMe").modal("hide");
                console.dir(xhr);
                alert("Error Occoured");
                //status('Error: ' + xhr.status);
            },

            success: function(response) {
              //console.log(response);
              //$("#loadMe").modal("hide");
              location.reload();
            }
        });
        return false;
    });

    
    $(".view_multi_images, .view_product_multi_images").on("click", function(e) {
      e.preventDefault();
        $("#loadMe").modal({
          backdrop: "static", //remove ability to close modal with click
          keyboard: false, //remove option to close with keyboard
          show: true //Display loader!
        });
        var data = new Object();
        data.typeId = $(this).data('id');
        data.parentId = $(this).data('parent-id');
        data.type = $(this).data('type');
        console.dir(data);
        $.ajax({
        type: "GET",
        url: url+'stores/getAllImages',
        data: data,
        success: function(data){
            //console.dir(data);
            if(data.success) {
                //location.reload();
                setTimeout(function() {
                    $("#loadMe").modal("hide");
                    var store_all_images_html = '';
                    store_all_images_html += '<div class="col-lg-12">';
                    if(data.data.length > 0) {
                      for(var i = 0; i<data.data.length; i++) {
                          console.dir(data.data[i]);
                          store_all_images_html += '<div class="col-sm-4" style="float:left;">';
                          store_all_images_html += '<div class="card">';
                          store_all_images_html += '<img class="card-img-top" src="'+data.data[i].image_file+'" alt="Card image cap">';
                          store_all_images_html += '<div class="card-body">';
                          store_all_images_html += '<h5 class="card-title">'+data.data[i].image_name+'</h5>';
                          store_all_images_html += '<a href="#" class="btn btn-primary">'+data.data[i].status+'</a>';
                          store_all_images_html += '</div>';
                          store_all_images_html += '</div>';
                          store_all_images_html += '</div>';
                      }
                    } else {
                          store_all_images_html += 'No Images Found';
                    } 

                    store_all_images_html += '</div>';
                    $("#store_all_images").html(store_all_images_html);
                    $("#viewAllImages").modal({
                      backdrop: "static", //remove ability to close modal with click
                      keyboard: false, //remove option to close with keyboard
                      show: true //Display loader!
                    });
                }, 1000);
            } else {
                alert("Some error occoured in updating status");
                setTimeout(function() {
                    $("#loadMe").modal("hide");
                }, 500);
            }
        },
        dataType: 'json'
        });
    });

    $(".store_multi_images").on("click", function(e) {
      e.preventDefault();
      $("#entityTypeId").val($(this).data('store-id'));
      $("#entityType").val($(this).data('type'));
      $("#storeMultipleImages").modal({
        backdrop: "static", //remove ability to close modal with click
        keyboard: false, //remove option to close with keyboard
        show: true //Display loader!
      });
    });

    $(".product_multi_images").on("click", function(e) {
      e.preventDefault();
      $("#multiEntityTypeId").val($(this).data('id'));
      $("#multiEntityType").val($(this).data('type'));
      $("#multiEntityParentId").val($(this).data('parent-id'));
      
      $("#multipleImages").modal({
        backdrop: "static", //remove ability to close modal with click
        keyboard: false, //remove option to close with keyboard
        show: true //Display loader!
      });
    });
      
      $('#multiUploadForm').submit(function(){
        $("#multipleImages").hide();
        $("#loadMe").modal({
          backdrop: "static", //remove ability to close modal with click
          keyboard: false, //remove option to close with keyboard
          show: true //Display loader!
        });
        $("#multi_image_status").empty().text("File is uploading...");
        $("#uploadMultiImagesBtn").attr("disabled", true);
        $(this).ajaxSubmit({

            error: function(xhr) {
                alert("Error Uploading Multiple Images");
            },

            success: function(response) {
              $("#multi_image_status").empty().text(response);
              location.reload();
            }
        });
        return false;
        
      });

     $('#uploadForm').submit(function() {
        $("#storeMultipleImages").hide();
        $("#loadMe").modal({
          backdrop: "static", //remove ability to close modal with click
          keyboard: false, //remove option to close with keyboard
          show: true //Display loader!
        });

        $("#status").empty().text("File is uploading...");
        $("#uploadImagesBtn").attr("disabled", true);
        $(this).ajaxSubmit({

            error: function(xhr) {
                //$("#loadMe").modal("hide");
                alert("Error Occoured");
                //status('Error: ' + xhr.status);
            },

            success: function(response) {
              console.log(response);
              alert("AAA");
              //$("#loadMe").modal("hide");
              location.reload();
              $("#status").empty().text(response);
            }
        });
        return false;
    });

    

    $(".edit_product_Status").on("click", function(e) {
      e.preventDefault();
      $("#loadMe").modal({
        backdrop: "static", //remove ability to close modal with click
        keyboard: false, //remove option to close with keyboard
        show: true //Display loader!
      });

        var data = new Object();
        data.status = $(this).data('status');
        data.id = $(this).data('id');
        console.dir(data);
        $.ajax({
        type: "POST",
        url: url+'stores/product/changeStatus',
        data: data,
        success: function(data){
            if(data.success) {
                location.reload();
                setTimeout(function() {
                    $("#loadMe").modal("hide");
                }, 1000);
            } else {
                alert("Some error occoured in updating status");
                setTimeout(function() {
                    $("#loadMe").modal("hide");
                }, 500);
            }
        },
        dataType: 'json'
        });
      

    });

    $(".edit_store_Status").on("click", function(e) {
      e.preventDefault();
      $("#loadMe").modal({
        backdrop: "static", //remove ability to close modal with click
        keyboard: false, //remove option to close with keyboard
        show: true //Display loader!
      });

        var data = new Object();
        data.status = $(this).data('store-status');
        data.storeId = $(this).data('store-id');
        $.ajax({
        type: "POST",
        url: url+'stores/changeStatus',
        data: data,
        success: function(data){
            if(data.success) {
                location.reload();
                setTimeout(function() {
                    $("#loadMe").modal("hide");
                }, 1000);
            } else {
                alert("Some error occoured in updating status");
                setTimeout(function() {
                    $("#loadMe").modal("hide");
                }, 500);
            }
        },
        dataType: 'json'
        });
    });

  $("#is_multiclaim_offer").click(function() {
      if($(this).prop('checked')==true){
        //Set multi claim offer
        $('#max_claim_count').removeAttr('readonly');
        $("#max_claim_count").val(10);
      } else {
        //Unset multi claim offer
        $("#max_claim_count").attr('readonly', 'true');
        $("#max_claim_count").val(1);
      }
  });
    $('body').on('click', '.stores_list', function () {
        // jQuery("img.lazy").lazy({});
        // alert('ddsda');
        getStores(url, $(this).val(), $(this).parent().parent().parent());
    });
    $('body').on('click', '.remove_store', function () {
        $(this).parent().parent().parent().remove();
    });

    $(".edit_offer_Status").on("click", function(e) {
      e.preventDefault();
      $("#loadMe").modal({
        backdrop: "static", //remove ability to close modal with click
        keyboard: false, //remove option to close with keyboard
        show: true //Display loader!
      });

      var data = new Object();
      data.status = $(this).data('offer-status');
      data.offer_id = $(this).data('offer-id');
      console.dir(data);
      $.ajax({
      type: "POST",
      url: url+'offers/changeStatus',
      data: data,
      success: function(data){
          if(data.success) {
              location.reload();
              setTimeout(function() {
                  $("#loadMe").modal("hide");
              }, 1000);
          } else {
              alert("Some error occoured in updating status");
              setTimeout(function() {
                  $("#loadMe").modal("hide");
              }, 500);
          }
      },
      dataType: 'json'
      });
    });


    $(".edit_floor_status").on("click", function(e) {
      e.preventDefault();
      $("#loadMe").modal({
        backdrop: "static", //remove ability to close modal with click
        keyboard: false, //remove option to close with keyboard
        show: true //Display loader!
      });

        var data = new Object();
        data.status = $(this).data('status');
        data.id = $(this).data('ad-floor-mapping-id');
        $.ajax({
        type: "POST",
        url: url+'offers/mappedStores/changeStatus',
        data: data,
        success: function(data){
            if(data.success) {
                location.reload();
                setTimeout(function() {
                    $("#loadMe").modal("hide");
                }, 1000);
            } else {
                alert("Some error occoured in updating status");
                setTimeout(function() {
                    $("#loadMe").modal("hide");
                }, 500);
            }
        },
        dataType: 'json'
        });
    });

    $('body').on('click', '.manage_store_floors', function (e) {
        e.preventDefault();
        $("#manageStoreFloors").modal({
          backdrop: "static", //remove ability to close modal with click
          keyboard: false, //remove option to close with keyboard
          show: true //Display loader!
        });
        var curClusterId = $(this).data('cluster-id');
        var clusterList = [];
        var data = new Object();
        data.clusterId = curClusterId;
        $.ajax({
          type: "GET",
          url: url+'stores/getClusterFloor',
          data: data,
          async: false,
          success: function(data){
            clusterList = data;
          },
          error: function(data){
          },
          dataType: 'json'
        });

        var storeFloors = [];
        var data = new Object();
        data.storeId = $(this).data('store-id');
        $.ajax({
          type: "GET",
          url: url+'offers/getStoreFloors',
          data: data,
          async: false,
          success: function(data){
            storeFloors = data;
          },
          error: function(data){
          },
          dataType: 'json'
        });

        var html = "";
        var storeF = storeFloors.data;
        for(var i=0; i< storeF.length; i++) {
          console.dir(storeF[i].floor_number);
          html += '<div class="row">';
            html += '<div class="row col-md-12" style="margin:5px;" id="floor_row">';
              html += '<div class="form-group col-md-4">';
              html += '<label for="inputPassword4">Store Floor</label>';
              html += '<select id="store_floor" name="store_floor" class="form-control">';
              html += '<option selected="" value="0">Choose...</option>';
              for(var j=0; j<clusterList.data.length; j++) {
                if(clusterList.data[j].floor_number == storeF[i].floor_number) {
                  html += '<option selected value="'+clusterList.data[j].floor_number+'">'+clusterList.data[j].floor_number+'#'+''+clusterList.data[j].floor_alias+''+'</option>';
                } else {
                  html += '<option selected="" value="'+clusterList.data[j].floor_number+'">'+clusterList.data[j].floor_number+'#'+''+clusterList.data[j].floor_alias+''+'</option>';
                }
              }
              html += '</select>';
              html += '</div>';
              html += '<div class="form-group col-md-2">';
              html += '<label for="inputPassword4">X Coordinates</label>';
              html += '<input type="text" class="form-control" id="x_coordinates" name="x_coordinates" placeholder="X Coordinates" value="'+storeF[i].x_axis+'">';
              html += '</div>';
              html += '<div class="form-group col-md-2">';
              html += '<label for="inputEmail4">Y Coordinates</label>';
              html += '<input type="text" class="form-control" id="y_coordinates" name="y_coordinates" placeholder="Y Coordinates" value="'+storeF[i].y_axis+'">';
              html += '</div>';
              html += '<div class="form-group col-md-2">';
              html += '<label for="inputEmail4">Z Coordinates</label>';
              html += '<input type="text" class="form-control" id="z_coordinates" name="z_coordinates" placeholder="Z Coordinates" value="'+storeF[i].z_axis+'">';
              html += '</div>';
            html += '</div>';
          html += '</div>';
        }
        html += '<div class="row col-md-12" style="margin:5px;">';
            html += '<div class="row col-md-4" style="margin:5px;">';
                html +='<a class="btn btn-primary add_more_floor" data-cluster-id='+curClusterId+' href="javascript:void(0);" role="button">Add More Floor</a>';
            html += '</div>';
            html += '<div class="row col-md-4" style="margin:5px;">';
                html +='<a class="btn btn-primary" href="javascript:void(0); role="button">Save Now</a>';
            html += '</div>';
        html += '</div>';  
        $("#store_floors_list").html(html);  

    });

    $('body').on('click', '.add_more_floor', function (e) {
      e.preventDefault();
      var curClusterId = $(this).data('cluster-id');
        var clusterList = [];
        var data = new Object();
        data.clusterId = curClusterId;
        $.ajax({
          type: "GET",
          url: url+'stores/getClusterFloor',
          data: data,
          async: false,
          success: function(data){
            clusterList = data;
          },
          error: function(data){
          },
          dataType: 'json'
        });


          if($("#store_floors_list").find($("#floor_row")).length ==0) {
            var html = '';
            html += '<div class="row">';
              html += '<div class="row col-md-12" style="margin:5px;" id="floor_row">';
                html += '<div class="form-group col-md-4">';
                html += '<label for="inputPassword4">Store Floor</label>';
                html += '<select id="store_floor" name="store_floor" class="form-control">';
                html += '<option selected="" value="0">Choose...</option>';
                for(var j=0; j<clusterList.data.length; j++) {
                  html += '<option selected="" value="'+clusterList.data[j].floor_number+'">'+clusterList.data[j].floor_number+'#'+''+clusterList.data[j].floor_alias+''+'</option>';
                }
                html += '</select>';
                html += '</div>';
                html += '<div class="form-group col-md-2">';
                html += '<label for="inputPassword4">X Coordinates</label>';
                html += '<input type="text" class="form-control" id="x_coordinates" name="x_coordinates" placeholder="X Coordinates" value="0">';
                html += '</div>';
                html += '<div class="form-group col-md-2">';
                html += '<label for="inputEmail4">Y Coordinates</label>';
                html += '<input type="text" class="form-control" id="y_coordinates" name="y_coordinates" placeholder="Y Coordinates" value="0">';
                html += '</div>';
                html += '<div class="form-group col-md-2">';
                html += '<label for="inputEmail4">Z Coordinates</label>';
                html += '<input type="text" class="form-control" id="z_coordinates" name="z_coordinates" placeholder="Z Coordinates" value="0">';
                html += '</div>';
              html += '</div>';
            html += '</div>';

            html += '<div class="row col-md-12" style="margin:5px;">';
                html += '<div class="row col-md-4" style="margin:5px;">';
                    html +='<a class="btn btn-primary add_more_floor" data-cluster-id='+curClusterId+' href="javascript:void(0);" role="button">Add More Floor</a>';
                html += '</div>';
                html += '<div class="row col-md-4" style="margin:5px;">';
                    html +='<a class="btn btn-primary" href="javascript:void(0); role="button">Save Now</a>';
                html += '</div>';
            html += '</div>';  

            $("#store_floors_list").html(html);
          } else {
            var html = '';
            html += '<div class="row">';
              html += '<div class="row col-md-12" style="margin:5px;">';
                html += '<div class="form-group col-md-4">';
                html += '<label for="inputPassword4">Store Floor</label>';
                html += '<select id="store_floor" name="store_floor" class="form-control">';
                html += '<option selected="" value="0">Choose...</option>';
                for(var j=0; j<clusterList.data.length; j++) {
                  html += '<option selected="" value="'+clusterList.data[j].floor_number+'">'+clusterList.data[j].floor_number+'#'+''+clusterList.data[j].floor_alias+''+'</option>';
                }
                html += '</select>';
                html += '</div>';
                html += '<div class="form-group col-md-2">';
                html += '<label for="inputPassword4">X Coordinates</label>';
                html += '<input type="text" class="form-control" id="x_coordinates" name="x_coordinates" placeholder="X Coordinates" value="0">';
                html += '</div>';
                html += '<div class="form-group col-md-2">';
                html += '<label for="inputEmail4">Y Coordinates</label>';
                html += '<input type="text" class="form-control" id="y_coordinates" name="y_coordinates" placeholder="Y Coordinates" value="0">';
                html += '</div>';
                html += '<div class="form-group col-md-2">';
                html += '<label for="inputEmail4">Z Coordinates</label>';
                html += '<input type="text" class="form-control" id="z_coordinates" name="z_coordinates" placeholder="Z Coordinates" value="0">';
                html += '</div>';
              html += '</div>';
            html += '</div>';
            $("#floor_row").after(html);
          }
    });

    $("#save_store_floors").on('click', function() {
      var stores = [];
      $("#offer_stores").find($(".stores_list_row")).each(function(){
        //console.dir($(this).find($(".store_floor_data")).find(".store_floor_id"));
        var data = new Object();
        data.store_id = $(this).find($(".stores_list")).val();

        var store_floors = [];
        $(this).find($(".store_floor_data")).find(".store_floor_id:checked").each(function(){
            store_floors.push($(this).val());
        });
        data.store_floors = store_floors;
        if(data.store_floors.length > 0) {
          stores.push(data);
        }
      });

        $("#loadMe").modal({
          backdrop: "static", //remove ability to close modal with click
          keyboard: false, //remove option to close with keyboard
          show: true //Display loader!
        });

        var a_data = new Object();
        a_data.offer_id = $("#offer_id").data("offer-id");
        a_data.offer_in_stores = JSON.stringify(stores);

        $.ajax({
        type: "POST",
        url: url+'offers/addStores',
        data: a_data,
        success: function(data){
            console.dir(data);
            if (data.success) {
                //location.reload();
                setTimeout(function() {
                    $("#loadMe").modal("hide");
                }, 1000);
                window.location.href = "/offers/mappedStoresList/"+a_data.offer_id;
            } else {
                alert("Some error occoured in updating status");
                setTimeout(function() {
                    $("#loadMe").modal("hide");
                }, 500);
            }
        },
        dataType: 'json'
        });

      //dasdda
    });
});

function getStores(url, storeId, element) {

    var data = new Object();
    data.storeId = storeId; //$(this).val();
    //var element = element //$(this).parent().parent();
    $.ajax({
      type: "GET",
      url: url+'offers/getStoreFloors',
      data: data,
      success: function(r){
        var html = "<div class='row'><div class='col-md-12' style='padding:20px;'>";
        for(var i=0; i< r.data.length; i++) {
          html += "<div class='col-md-2' style='padding:10px;float:left;padding:5px;'>";
          html += "<input type ='checkbox' class='store_floor_id form-check-input' value="+r.data[i].id+"> Floor Number " + r.data[i].floor_number;
          html += "</div>";
        }
        html += "</div></div>";
        $(element).find($(".store_floor_data")).html(html);
      },
      error: function(data){
      },
      dataType: 'json'
    });
}


</script>
</html>