</div>
<!-- Modal -->
<div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <div class="loader"></div>
          <div clas="loader-txt">
            <p>Check out this slick bootstrap spinner modal. <br><br><small>We are addicted to Bootstrap... #love</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript">
$(document).ready(function() {
  console.dir("OK");
    var url = 'http://localhost:3001/';
    $(".edit_store_Status").on("click", function(e) {
      e.preventDefault();
      $("#loadMe").modal({
        backdrop: "static", //remove ability to close modal with click
        keyboard: false, //remove option to close with keyboard
        show: true //Display loader!
      });

        var data = new Object();
        data.status = $(this).data('store-status');
        data.storeId = $(this).data('store-id');
        $.ajax({
        type: "POST",
        url: url+'stores/changeStatus',
        data: data,
        success: function(data){
            if(data.success) {
                location.reload();
                setTimeout(function() {
                    $("#loadMe").modal("hide");
                }, 1000);
            } else {
                alert("Some error occoured in updating status");
                setTimeout(function() {
                    $("#loadMe").modal("hide");
                }, 500);
            }
        },
        dataType: 'json'
        });
      

    });
});
</script>
</html>