</div>
<!-- Modal -->
<div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <div class="loader"></div>
          <div clas="loader-txt">
            <p>Check out this slick bootstrap spinner modal. <br><br><small>We are addicted to Bootstrap... #love</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="modal fade" id="storeMultipleImages" tabindex="-1" role="dialog" aria-labelledby="storeMultipleImagesLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
            <form id="uploadForm"
                enctype="multipart/form-data"
                action="/stores/multi_image"
                method="post">
              <input type="file" name="storePhoto" multiple/>
              <br>
              <input type="text" readonly name="typeId" id="entityTypeId" value="" />
              <br>
              <input type="text" readonly name="type" id="entityType" value="" />
              <input type="submit" id="uploadImagesBtn" value="Upload Store Images" name="submit">
              <span id = "status"></span>
            </form>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="storeSingleImage" tabindex="-1" role="dialog" aria-labelledby="storeSingleImageLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
            <form id="uploadSingleForm"
                enctype="multipart/form-data"
                action="/stores/single_image"
                method="post">
              <input type="file" name="storeSinglePhoto"/>
              <br>
              <input type="text" readonly name="typeId" id="singleEntityTypeId" value="" />
              <br>
              <input type="text" readonly name="type" id="singleEntityType" value="" />
              <input type="submit" id="uploadSingleImageBtn" value="Upload Store Icon" name="submit">
              <span id = "single_status"></span>
            </form>
        </div>
      </div>
    </div>
</div>


<div class="modal fade" style="overflow:scroll;" id="viewAllImages" tabindex="-1" role="dialog" aria-labelledby="viewAllImagesLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
            <div id="store_all_images" class="row">Please wait</div>
        </div>
      </div>
    </div>
</div>

</body>
<script type="text/javascript">
$(document).ready(function() {
  console.dir("OK");
    var url = 'http://localhost:3001/';
    $("#cluster_id").on('change', function(){
        $("#loadMe").modal({
          backdrop: "static", //remove ability to close modal with click
          keyboard: false, //remove option to close with keyboard
          show: true //Display loader!
        });

        var data = new Object();
        data.clusterId = $(this).val();
        $.ajax({
          type: "GET",
          url: url+'stores/getClusterFloor',
          data: data,
          success: function(data){
            var floor_options = '';
            for(var i =0; i<data.data.length; i++) {
              floor_options += '<option value='+data.data[i].floor_number+'>';
              floor_options += 'id => ' +data.data[i].id;
              floor_options += '#floor_number => ' +data.data[i].floor_number;
              floor_options += '#floor_alias => ' +data.data[i].floor_alias;
              floor_options += '</option>';              
            }
            setTimeout(function(){
              $("#loadMe").modal("hide");
            }, 500);
            $("#store_floor").html(floor_options);
            $("#store_floor").attr("disabled", false);
            $("#y_coordinates").attr("disabled", false);
            $("#x_coordinates").attr("disabled", false);
          },
          error: function(data){
          },
          dataType: 'json'
        });
    });

    $(".edit_store_icon").on("click", function(e) {
      e.preventDefault();
      $("#singleEntityTypeId").val($(this).data('store-id'));
      $("#singleEntityType").val($(this).data('type'));
      $("#storeSingleImage").modal({
        backdrop: "static", //remove ability to close modal with click
        keyboard: false, //remove option to close with keyboard
        show: true //Display loader!
      });
    });

     $('#uploadSingleForm').submit(function() {
        $("#storeSingleImage").hide();
        $("#loadMe").modal({
          backdrop: "static", //remove ability to close modal with click
          keyboard: false, //remove option to close with keyboard
          show: true //Display loader!
        });

        $("#single_status").empty().text("File is uploading...");
        $("#uploadSingleImageBtn").attr("disabled", true);
        $(this).ajaxSubmit({

            error: function(xhr) {
                $("#loadMe").modal("hide");
                alert("Error Occoured");
                //status('Error: ' + xhr.status);
            },

            success: function(response) {
              console.log(response);
              //$("#loadMe").modal("hide");
              location.reload();
            }
        });
        return false;
    });

    
    $(".view_store_multi_images").on("click", function(e) {
      e.preventDefault();
//      $("#entityTypeId").val($(this).data('store-id'));
//      $("#entityType").val($(this).data('type'));
        $("#loadMe").modal({
          backdrop: "static", //remove ability to close modal with click
          keyboard: false, //remove option to close with keyboard
          show: true //Display loader!
        });
        var data = new Object();
        data.storeId = $(this).data('store-id');
        console.dir(data);
        $.ajax({
        type: "GET",
        url: url+'stores/getAllImages',
        data: data,
        success: function(data){
            console.dir(data);
            if(data.success) {
                //location.reload();
                setTimeout(function() {
                    $("#loadMe").modal("hide");
                    var store_all_images_html = '';
                    store_all_images_html += '<div class="col-lg-12">';
                    for(var i = 0; i<data.data.length; i++) {
                        console.dir(data.data[i]);
                        store_all_images_html += '<div class="col-sm-4" style="float:left;">';
                        store_all_images_html += '<div class="card">';
                        store_all_images_html += '<img class="card-img-top" src="'+data.data[i].image_file+'" alt="Card image cap">';
                        store_all_images_html += '<div class="card-body">';
                        store_all_images_html += '<h5 class="card-title">'+data.data[i].image_name+'</h5>';
                        store_all_images_html += '<a href="#" class="btn btn-primary">'+data.data[i].status+'</a>';
                        store_all_images_html += '</div>';
                        store_all_images_html += '</div>';
                        store_all_images_html += '</div>';
                    }
                    store_all_images_html += '</div>';
                    $("#store_all_images").html(store_all_images_html);
                    $("#viewAllImages").modal({
                      backdrop: "static", //remove ability to close modal with click
                      keyboard: false, //remove option to close with keyboard
                      show: true //Display loader!
                    });
                }, 1000);
            } else {
                alert("Some error occoured in updating status");
                setTimeout(function() {
                    $("#loadMe").modal("hide");
                }, 500);
            }
        },
        dataType: 'json'
        });
    });

    $(".store_multi_images").on("click", function(e) {
      e.preventDefault();
      $("#entityTypeId").val($(this).data('store-id'));
      $("#entityType").val($(this).data('type'));
      $("#storeMultipleImages").modal({
        backdrop: "static", //remove ability to close modal with click
        keyboard: false, //remove option to close with keyboard
        show: true //Display loader!
      });
    });

     $('#uploadForm').submit(function() {
        $("#storeMultipleImages").hide();
        $("#loadMe").modal({
          backdrop: "static", //remove ability to close modal with click
          keyboard: false, //remove option to close with keyboard
          show: true //Display loader!
        });

        $("#status").empty().text("File is uploading...");
        $("#uploadImagesBtn").attr("disabled", true);
        $(this).ajaxSubmit({

            error: function(xhr) {
                //$("#loadMe").modal("hide");
                alert("Error Occoured");
                //status('Error: ' + xhr.status);
            },

            success: function(response) {
              console.log(response);
              //$("#loadMe").modal("hide");
              location.reload();
              $("#status").empty().text(response);
            }
        });
        return false;
    });

    $(".edit_store_Status").on("click", function(e) {
      e.preventDefault();
      $("#loadMe").modal({
        backdrop: "static", //remove ability to close modal with click
        keyboard: false, //remove option to close with keyboard
        show: true //Display loader!
      });

        var data = new Object();
        data.status = $(this).data('store-status');
        data.storeId = $(this).data('store-id');
        $.ajax({
        type: "POST",
        url: url+'stores/changeStatus',
        data: data,
        success: function(data){
            if(data.success) {
                location.reload();
                setTimeout(function() {
                    $("#loadMe").modal("hide");
                }, 1000);
            } else {
                alert("Some error occoured in updating status");
                setTimeout(function() {
                    $("#loadMe").modal("hide");
                }, 500);
            }
        },
        dataType: 'json'
        });
      

    });
});
</script>
</html>