<!DOCTYPE html>

<html lang="en">
<head>
<title>Using template engines with Express</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.form.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>

</head>
<body>
<div class="container-fluid pd0">

        <header>
                <div class="header">
                    <a href="#default" class="logo">CompanyLogo</a>
                    <div class="header-right">
                        <a class="active" href="/home">Home</a>
                        <a href="/stores">Stores</a>
                        <a href="/company">Company</a>
                        <a href="/ads">Ads</a>
                    </div>
                  </div>
        </header>